<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单详情</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="css/mall.css" type="text/css" />
<link rel="stylesheet" href="css/shop-car.css" type="text/css" />
</head>

<body>
	<div id="container">
    <div class="header">
        <a href="index.html" class="header-back btn">
			<img class="img1" src="images/classfiy/back_n.png">
			<img class="img2" src="images/classfiy/back_p.png">
		</a>
        <span>购物车</span>
		<a href="javascript:" class="btn right-btn" id="edit">
			<img class="img1" src="images/img/edit_n.png" />
			<img class="img2" src="images/img/edit_p.png" style="display:none" />
		</a>
    </div>
    <form id="shopcarForm" action="${link.contextPath}/settle" type="POST">
    #foreach($m in $shopCarProducts)
	<div class="car-content" data-id="$m.skuID">
		<input type="hidden" name="skuIDs" value="${m.skuID}"/>
		<input type="hidden" name="buyNums" value="${m.skuQuality}"/>
		<input type="hidden" name="skuPrices" value="${m.skuPrice}"/>
		<div class="info-bottom">
			<div class="car-select">
				<a href="#" class="btn option">
					<img class="img1 option-img1" src="images/img/select_n.png" />
					<img class="img2 option-img2" src="images/img/select_p.png" />
				</a>
			</div>
			<div class="info-bottom-img">
				<a href="#"><img src="$m.imgPath" /></a>
			</div>
			<p class="bottom-1" style="font-size:14px;">$m.sellDesc</p>
			<div class="botton-delete" >
				<a href="#" class="btn delete" > 
					<img class="img1 option-img" src="images/img/delete3_n.png" />
					<img class="img2" src="images/img/delete3_p.png" />
				</a>
			</div>
			<p class="bottom-2">
				<!-- 如果没有skuStr 需要加个空格占一行 -->
				#if($m.skuStrs.isEmpty())<span>&nbsp;</span>#end
				#foreach($skuStr in $m.skuStrs)<span>$skuStr</span>&nbsp;#end</p>
			<p class="bottom-3">
				<span style="color:#F389AA;font-size:14px;" class="product_price">￥$m.skuPrice</span>
				<div class="bottom-number">
					<div class="number-1">
						<a href="#" class="subtract">
							<img class="img1" src="images/img/subtract_n.png" />
							<img class="img2" src="images/img/subtract_p.png" />
						</a>
					</div>
					<div class="number-2">$m.skuQuality</div>
					<div class="number-1">
						<a href="#" class="add">
							<img class="img1" src="images/img/add_n.png" />
							<img class="img2" src="images/img/add_p.png" />
						</a>
					</div>
				</div>
			</p>
		</div>
	</div>
	#end
	</form>

	<div class="car-footer">
		<div class="car-footer-1">
			<a href="javascript:" id="selectAll">
				<img class="img1 option-img1" src="images/img/select_n.png" />
				<img class="img2 option-img2" src="images/img/select_p.png" />
				<span class="optionAll">全选</span>
			</a>
		</div>
		<div class="car-footer-2">合计：￥$totalPrice</div>
		<div class="car-footer-1">
			<a href="javascript:void(0);" style="color:#fff;" class="placeOrder">结算($productNum)</a>
		</div>
	</div>
</div>
</body>
<script>
    $(function(){
    	
	
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		
		$(".subtract").each(function(){
			$(this).click(function(){
				var divTxt = $(this).parents(".number-1").siblings(".number-2");
				num = divTxt.text();
				if(num < 2){
					alert("数量已经最少")
				}else{
					num--;
					//改变总价
					var pattern = new RegExp("[0-9]+");
					var price = pattern.exec($(this).closest(".car-content").find(".product_price").text());
					var newPrice = parseInt(pattern.exec($(".car-footer-2").text())[0])-parseInt(price);
					$(".car-footer-2").text("合计：￥"+newPrice);
					//改变input的内容
					$(this).closest(".car-content").find("input:eq(1)").val(num);
				}
				divTxt.text(num);
				$(".add").find(".img1").show();
				$(".add").find(".img2").hide();
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			})
		});
		$(".add").each(function(){
			$(this).click(function(){
				var divTxt = $(this).parents(".number-1").siblings(".number-2");
				num = divTxt.text();
				num++;
				divTxt.text(num);
				$(".subtract").find(".img1").show();
				$(".subtract").find(".img2").hide();
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
				
				//改变总价
				var pattern = new RegExp("[0-9]+");
				var price = pattern.exec($(this).closest(".car-content").find(".product_price").text());
				var newPrice = parseInt(pattern.exec($(".car-footer-2").text())[0])+parseInt(price);
				$(".car-footer-2").text("合计：￥"+newPrice);
				
				//改变input的内容
				$(this).closest(".car-content").find("input:eq(1)").val(num);
				
			})
		});
		
		
		$("#edit").click(function(){
			if($(".botton-delete").is(":visible")){
				$(".botton-delete").hide();
			}else{
				$(".botton-delete").show();
			}
		});
		
		$(".delete").click(function(){
			if($(this).parent(".botton-delete").siblings(".car-select").find(".img1").is(":visible")){
				alert("对不起，请先选择删除的商品");
				
			}else{
				if(confirm('确定要删除该商品吗?')){
					var carContent = $(this).parent(".botton-delete").siblings(".car-select").parents(".car-content");
					
					//获得要删除商品的单价
					var pattern = new RegExp("[0-9]+");
					var price = pattern.exec(carContent.find(".product_price").text())[0];
					
					//获得要删除商品的购买数量
					var num = carContent.find(".number-2").text();
					
					var totalPrice = parseInt(price)*parseInt(num);
					var newTotalPrice = parseInt(pattern.exec($(".car-footer-2").text()))-totalPrice;
					$(".car-footer-2").text("合计：￥"+newTotalPrice);
					var newConclusion = parseInt(pattern.exec($(".car-footer div:eq(2)").find("a").text()))-1;
					$(".car-footer div:eq(2)").find("a").text("结算("+newConclusion+")");
					
					var skuID = carContent.data("id");
					
					$.ajax({
						url:'${link.contextPath}/remove_shopcar_product',
						type:'POST',
						dataType:'JSON',
						data:{"userID":1,"skuID":skuID},
						success:function(ret){
							if(ret.errcode==0){
								console.log("删除成功");
								carContent.remove();
							}
						}
					});
					
					
						
					
				}else{
					$(".img1").show();
					$(".img2").hide();
				}
			}
			setTimeout(function () {
				$(".delete").find(".img2").hide();
				$(".delete").find(".img1").show();
			 }, 50);
		});
		
		$("#selectAll").click(function(){
			if($(this).find(".option-img1").is(":visible")){
				$(".option-img1").hide();
				$(".option-img2").show();
				$(".optionAll").text("取消全选");
			}else{
				$(".option-img1").show();
				$(".option-img2").hide();
				$(".optionAll").text("全选");
			}
			
		});
		
		//点击结算
		$(".placeOrder").click(function(){
			
			var shopCarProductNum = $(".car-content").length;
			/* for(var i=0;i<skuNum;i++){
				$(".car-content:eq("+i+")").find("input:eq(0)").attr("name","skuIDs["+i+"]");
				$(".car-content:eq("+i+")").find("input:eq(1)").attr("name","buyNums["+i+"]");
				$(".car-content:eq("+i+")").find("input:eq(2)").attr("name","skuPrices["+i+"]");
			} */
			if(shopCarProductNum!=0){
				$("#shopcarForm").submit();
			}
			
			/* //构造表单提交
			var params = [];
			params.push($("<input>",{name:"userID",value:"1"}))
			params.push($("<input>",{name:"skuID",value:$(".skuID").val()}));
			params.push($("<input>",{name:"buyNum",value:buyNum}));
			params.push($("<input>",{name:"skuPrice",value:skuPrice}));
			
			$('<form>', {  
			    method: 'post',
			    action: '${link.contextPath}/settlement'
			}).append(params).submit(); */
			
		});
		
	});
</script>
</html>
 
